In [1]:
import numpy as np
import pandas as pd

In [2]:
data_dic = {'A':[1,2,np.nan,4,np.nan],
            'B':[np.nan,np.nan,np.nan,np.nan,np.nan],
            'C':[11,12,13,14,15],
            'D':[16,np.nan,18,19,20]}
df = pd.DataFrame(data_dic) 
df

     A   B   C     D
0  1.0 NaN  11  16.0
1  2.0 NaN  12   NaN
2  NaN NaN  13  18.0
3  4.0 NaN  14  19.0
4  NaN NaN  15  20.0

In [ ]:
##isnull(), isna(), notnull() -- Check for missing data in the dataset!

In [4]:
df.isnull()

       A     B      C      D
0  False  True  False  False
1  False  True  False   True
2   True  True  False  False
3  False  True  False  False
4   True  True  False  False

In [5]:
df.isnull().sum()

A    2
B    5
C    0
D    1
dtype: int64

In [6]:
df.isnull().sum().sum()

8

In [7]:
df['A'].isnull()

0    False
1    False
2     True
3    False
4     True
Name: A, dtype: bool

In [8]:
df['B'].isnull()

0    True
1    True
2    True
3    True
4    True
Name: B, dtype: bool